<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.mybatis.mapper.CountryMapper">

    <resultMap id="country" type="Country">
        <id column="id" property="id"></id>
        <result column="countryname" property="countryName"></result>
        <result column="countrycode" property="countryCode"></result>
    </resultMap>

    <select id="selectAll" resultMap="country">
        select  id,countryname,countrycode from country
    </select>
</mapper>
